body
{
    background-color: black; 
    color: white; 
}

.d1>h1
{
    text-align: center;
    color: white;
}

.d1>p
{
    font-size: 18px;
    color: white;
}

.d2>h1
{
    text-align: center;
    color: white;
}

.d2>p
{
    font-size: 18px;
    color: white;
}

.d3>h1
{
    text-align: center;
    color: white;
}

.d3>p
{
    font-size: 18px;
    color: white;
}

@media (min-width: 325px) and (max-width: 768px)
{
    .d1>video 
    {
        width: 300px;
        height: auto;
    }

    .d3>video 
    {
        width: 300px;
        height: auto;
    }
}





